.list {
    margin-left: 2%;
}

.column {
    margin-top: 2%;
}

.input {
    margin-left: 5%;
    margin-right: 5%;
}

.police {
    color: white!important;
    font-size: 20px;
    user-focus: none;
}
.active{
    color: black;
    font-size: 20px;
}